/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Nunito', sans-serif;
}
body{
    line-height: 1.7;
    background-color: black;
    min-height: 200vh;
}
html{
    scroll-behavior: smooth;
}

::selection{
    color: white;
    background-color: #011E44;
}

/* Scroll bar */
::-webkit-scrollbar{
    width: 10px;
    background-color: black;
}
::-webkit-scrollbar-thumb{
    background-color: #bfbfbf;
    border-radius: 10px;
}

/* CSS var */
:root{
    --font-large-color: white;
    --font-small-color: #9f9f9f;
    --main-color: #093268;
    --bg-color-1: #131416;
    --bg-color-2: #191a20;

}
h1{
    font-size: 100px;
    color: var(--font-small-color);
}
h2{
    font-size: 46px;
    color: var(--font-small-color);
}
h3{
    font-size: 30px;
}
h4{
    font-size: 30px;
}
h5{
    font-size: 20px;
}
p,span{
    font-size: 17px;
    color: var(--font-small-color);
}

/* Classes */
.container{
    padding: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.button2{
    background-color: transparent;
    font-size: 17px;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 6px 6px;
    margin-top: 20px;
    cursor: pointer;
}
.button2 a{
    text-decoration: none;
}
.button2:hover{
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.a-bar{
    width: 5rem;
    height: 4px;
    background-color: var(--main-color);
    margin-top: 15px;
    position: relative;
}

/* .a-bar::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
} */
.sub-head{
    max-width: 40rem;
    text-align: center;
    margin-top: 30px;
    padding: 0 1rem;
}

/* Navigation */
#nav{
    height: 7rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 999;
}
#nav.fixed{
    position: fixed;
    height: 5rem;
    background-color: #131416;
    transition: all 0.3s ease-in-out;
}
#nav .logo{
    width: 5rem;
    margin-left: 5rem;
    z-index: 5;
}
#nav .logo img{
    width: 100%;
}
#nav .nav-item{
    display: flex;
    list-style: none;
    margin-right: 5rem;
}
#nav .nav-item li{
    margin: 0 1rem;
}
#nav .nav-item li a{
    text-decoration: none;
    color: #c1c1c1;
    font-size: 17px;
    cursor: pointer;
}
#nav .nav-item li a:hover{
    color: white;
}

/* Home */
#home{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#home .text-holder h1{
    font-family: 'Lobster', cursive;
    font-weight: 450;
}
#home .text-holder h1 span{
    font-family: 'Lobster', cursive;
    font-size: 100px;
    color: var(--main-color);
}
#home .text-holder h3{
    font-weight: 350;
}
#home .text-holder h3 span{
    font-size: 30px;
    color: var(--main-color);
}
#home .text-holder .button{
    display: block;
    text-align: left;
}

#home .a-bar1{
    width: 1rem;
    height: 100vh;
    right: 45rem;
    background-color: var(--main-color);
    position: relative;
}

#home .my-img{
    width: 55rem;
    height: auto;
    position: absolute;
    z-index: 1;
    right: 4rem;
    bottom: -9px;
    pointer-events: none;
    opacity: 0.7;
}
#home .my-img img{
    width: 100%;
}
#home .icons{
    position: absolute;
    bottom: 1rem;
    z-index: 2;
    right: 5rem;
}
#home .icons a{
    text-decoration: none;
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    line-height: 35px;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: .1s ease-in-out;
    cursor: pointer;
}
#home .icons a i{
    color: #1c1d24;
}
#home .icons a:hover{
    transform: translateY(-10%);
    background-color: var(--main-color);
}
#home .icons a:hover i{
    color: white;
}
/* #home .scroll{
    position: absolute;
    left: 5rem;
    bottom: 2rem;
    text-transform: uppercase;
}
#home .scroll a{
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    transition: letter-spacing 0.5s ease;
    text-align: left;
}
#home .scroll a:hover{
    letter-spacing: 2px;
    color: var(--main-color);
} */

/* About */
#about{
    background: var(--bg-color-1);
    width: 100%;
}
#about .container{
    padding: 100px 0;
}
.about-img{
    width: 26rem;
}
.about-img img{
    width: 100%;
    border: 10px solid #232323;
    box-shadow: 0 25px 50px --12px rgb(0 0 0/ 25%);
}
#about .text-wrapper{
    width: 35rem;
    padding-left: 40px;
}
#about .text-wrapper h4{
    font-weight: 500;
}
#about .text-wrapper h5{
    margin-top: 15px;
}
#about .text-wrapper h5 span{
    color: var(--main-color);
}
#about .text-wrapper p{
    margin: 20px 0;
}
#about .abt-list{
    margin: 10px 0;
}
#about .abt-list .list-itm{
    display: inline-flex;
    width: 15rem;
    margin-bottom: 1rem;
}
#about .abt-list .list-itm label{
    font-size: 15px;
    font-weight:600;
    width: 80px;
    border-right: 1px solid #c1c1c1;
}
#about .abt-list .list-itm p{
    font-size: 14px;
    margin: 0;
    padding-left: 1rem;
}
#about .button2{
    margin: 0;
}
#about .list-itm a{
    text-decoration: none;
}

/* Services */
#service{
    /* min-height: 100vh; */
    background-color: var(--bg-color-2);
}
.s-card .card{
    width: 22rem;
    padding: 55px 40px;
    margin: 15px;
    background-color: #131416;
    box-shadow: 0 25px 50px -12px rgb(0 0 0/ 25%);
    transition: all 0.2s ease-in;
}
.s-card .card:hover{
    transform: translateY(-5%);
    background-color: #1a1a1a;
}
.s-card .card i{
    font-size: 50px;
    color: var(--main-color);
    margin-bottom: 20px;
}
.s-card .card h5{
    margin-bottom: 10px;
}

/* Resume */
#resume{
    background-color: var(--bg-color-1);
}
#resume .container{
    gap: 2rem;
}
#resume .title{
    margin-bottom: 10px;
}
/* #resume .a-bar::before{
    border-color: var(--bg-color-1);
} */
.r-item{
    width: 35rem;
    padding: 32px 40px;
    background-color: #191a20;
    border-left: 2px solid var(--main-color);
    position: relative;
    border-bottom: 1px solid #313131;
}
.r-item:last-child{
    border-bottom: none;
}
#skill{
    padding-bottom: 100px;
}
#skill .heading{
    padding-top: 50px;
}
.skill-item .skill-bar{
    width: 35rem;
    height: 8px;
    background-color: var(--bg-color-2);
} 
.skill-item .skill-bar .skill-line{
    height: 100%;
    background-color: var(--main-color);
    position: relative;
}
.skill-item .skill-bar .skill-line::after{
    content: "90%";
    position: absolute;
    color: white;
    font-size: 16px;
    top: -30px;
    right: -15px;
}
.skill-bar .skill-line.html{
    width: 90%;
}
.skill-bar .skill-line.css{
    width: 80%;
}
.skill-bar .skill-line.javascript{
    width: 65%;
}
.skill-bar .skill-line.python{
    width: 95%;
}
.skill-bar .skill-line.java{
    width: 75%;
}
.skill-bar .skill-line.php{
    width: 60%;
}

.skill-bar .skill-line.html::after{
    content: "90%";
}
.skill-bar .skill-line.css::after{
    content: "80%";
}
.skill-bar .skill-line.javascript::after{
    content: "65%";
}
.skill-bar .skill-line.python::after{
    content: "95%";
}
.skill-bar .skill-line.java::after{
    content: "75%";
}
.skill-bar .skill-line.php::after{
    content: "60%";
}

/* blogs */
#blog{
    min-height: 100vh;
    background-color: var(--bg-color-2);
}
#blog .a-bar::before{
    border-color: var(--bg-color-2);
}
.blog{
    width: 22rem;
    box-shadow: 0 25px 50px -12px rgb(0 0 0/ 25%);
    margin: 10px;
    padding: 10px;
    background-color: #131416;
    position: relative;
}
.blog .img-bx{
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}
.blog .img-bx img{
    width: 100%;
    transition: all 0.3s ease-in;
}
.blog .img-bx img:hover{
    transform: scale(1.2);
}
.blog h6{
    margin-top: 15px;
    font-size: 18px;
    line-height: normal;
    cursor: pointer;
}
.blog p{
    margin-top: 10px;
}
.blog button{
    margin-top: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.blog button a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(255, 255, 255);
}
.blog button a:hover{
    color: #1065d3;
}
.blog::before{
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 15px;
    color: white;
    background-color: var(--main-color);
    padding: 5px;
    z-index: 2;
}
.b-1::before{
    content: "21st June";
}
.b-2::before{
    content: "20th September";
}
.b-3::before{
    content: "19th October";
}
.b-4::before{
    content: "1st November";
}

/* Contact */
#contact{
    background-color: var(--bg-color-1);
}
#contact .a-bar::before{
    border-color: var(--bg-color-1);
}
#contact .container{
    align-items: flex-start;
    gap: 2.5rem;
}
#contact form{
    width: 50%;
}

form .form-rw{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.form-rw .data{
    width: 50%;
    display: block;
}
.data input, textarea{
    background-color: #1c1d24;
    width: 100%;
    display: block;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid transparent;
    font-size: 17px;
    margin-top: 20px;
    transition: border-bottom-color 0.3s ease;
}
.data textarea{
    padding: 10px 10px 120px;
}
.data input:focus, textarea:focus{
    border-bottom-color: var(--main-color);
}
#contact .c-info{
    width: 40%;
}
#contact .c-list{
    list-style: none;
    padding-top: 20px;
}
.c-list .list-item{
    display: flex;
    align-items: center;
}
.c-list .list-item .icon i{
    font-size: 30px;
    padding-right: 20px;
    color: var(--main-color);
}
.c-list .list-item .details{
    padding: 15px;
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    border-left: 1px solid #879bb4;
    line-height: 22px;
}
.c-list .list-item .details label{
    font-size: 15px;
    font-weight: 500;
}
.c-list .list-item .details p{
    font-size: 15px;
}

/* Footer */
footer{
    background-color: black;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsive */

/* Hamburger */
#nav .checkbox{
    position: absolute;
    width: 32px;
    height: 26px;
    right: 2.5rem;
    opacity: 0;
    display: none;
}
.hamburger{
    position: absolute;
    width: 32px;
    height: 26px;
    right: 2.5rem;
    pointer-events: none;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    display: none;
}
.hamburger .line{
    display: block;
    height: 4px;
    width: 100%;
    border: 10px;
    background-color: #f8f8f8;
}
.hamburger .ham1{
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
.hamburger .ham2{
    transition: transform 0.2s ease-in-out;
}
.hamburger .ham3{
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
input[type="checkbox"]:checked ~ .hamburger .ham1{
    transform: rotate(45deg);
}
input[type="checkbox"]:checked ~ .hamburger .ham2{
    transform: scale(0)
}
input[type="checkbox"]:checked ~ .hamburger .ham3{
    transform: rotate(-45deg);
}

/* Media Queries */
@media (max-width: 950px){
    #nav .nav-item{
        position: fixed;
        flex-direction: column;
        gap: 20px;
        top: 0;
        left: -100%;
        background-color: #131416;
        width: 300px;
        height: 100%;
        padding-top: 8rem;
        padding-left: 2rem;
        transition: all 0.5s ease-in-out;
    }
    input[type="checkbox"]:checked ~ .nav-item{
        left: 0% !important;
    }
    #nav .checkbox{
        display: block;
    }
    .hamburger{
        display: flex;
    }
    #nav .logo{
        margin-left: 1.5rem;
    }
    #about .container .about-img{
        width: 20rem;
    }
}
@media (max-width: 850px){
    #nav .checkbox{
        right: 22.5rem;
    }
    #home .text-holder{
        text-align: center;
    }
    #home .text-holder .button2{
        margin: 2em 0 0 6em;
    }
    #home .text-holder h1,
    #home .text-holder h1 span{
        font-size: 70px;
    }
    #home .text-holder h3,
    #home .text-holder h3 span{
        font-size: 25px;
    }
    /* #home .scroll{
        display: none;
    } */
    #home .icons{
        width: 100%;
        text-align: center;
        right: 0;
    }
    #about .container .text-wrapper{
        padding-left: 120px;
    }
    .s-card .card{
        width: 100%;
        margin: 15px 0;
    }
    #blog .blog{
        width: 100%;
    }
    .container{
        padding: 0 80px;
    }
    #contact .c-info,
    #contact form{
        width: 40rem;
    }
}
@media (max-width: 600px){
    .container{
        padding: 0 20px;
    }
    #home .my-img{
        display: none;
    }
    #about .container{
        padding: 100px 20px;
        justify-content: flex-start;
    }
    #about .container .text-wrapper{
        padding: 0;
    }
    #resume .container .r-item{
        width: 100%;
    }
    #skill .container{
        padding: 0 1.5rem;
    }
    #skill .container .skill-item{
        width: 100%;
    }
    #skill .container .skill-item .skill-bar{
        width: 100%;
    }
}
