/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap');

/* CSS font */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Nunito', sans-serif;
}
body{
    line-height: 1.7;
    background-color: black;
    min-height: 200vh;
}
html{
    scroll-behavior: smooth;
}

::selection{
    color: white;
    background-color: crimson;
}

/* Scroll bar */
::-webkit-scrollbar{
    width: 10px;
    background-color: black;
}
::-webkit-scrollbar-thumb{
    background-color: #bfbfbf;
    border-radius: 10px;
}

/* CSS var */
:root{
    --font-large-color: white;
    --font-small-color: #9f9f9f;
    --main-color: #ff2626;
    --bg-color-1: #131416;
    --bg-color-2: #191a20;

}
h1{
    font-size: 90px;
    color: var(--font-small-color);
}
h2{
    font-size: 46px;
    color: var(--font-small-color);
}
h3{
    font-size: 34px;
}
h4{
    font-size: 30px;
}
h5{
    font-size: 20px;
}
p,span{
    font-size: 17px;
    color: var(--font-small-color);
}

/* Classes */
.container{
    padding: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.button2{
    background-color: transparent;
    font-size: 17px;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 20px;
    cursor: pointer;
}
.button2 a{
    text-decoration: none;
}
.button2:hover{
    background-color: var(--main-color);
    border-color: var(--main-color);
}

/* Navigation */
#nav{
    height: 7rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 999;
}
#nav.fixed{
    position: fixed;
    height: 5rem;
    background-color: #131416;
    transition: all 0.3s ease-in-out;
}
#nav .logo{
    width: 5rem;
    margin-left: 5rem;
    z-index: 5;
}
#nav .logo img{
    width: 100%;
}
#nav .nav-item{
    display: flex;
    list-style: none;
    margin-right: 5rem;
}
#nav .nav-item li{
    margin: 0 1rem;
}
#nav .nav-item li a{
    text-decoration: none;
    color: #c1c1c1;
    font-size: 17px;
    cursor: pointer;
}
#nav .nav-item li a:hover{
    color: white;
}

/* Home */
#home{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
#home .text-holder h1{
    font-weight: 300;
}
#home .text-holder h1 span{
    font-size: 90px;
    color: var(--main-color);
}
#home .text-holder h3{
    font-weight: 300;
}
#home .text-holder h3 span{
    font-size: 35px;
    color: var(--main-color);
}
#home .text-holder .button{
    display: block;
    text-align: center;
}
#home .my-img{
    width: 50rem;
    height: auto;
    position: absolute;
    z-index: 1;
    right: 12rem;
    bottom: -5px;
    pointer-events: none;
    opacity: 0.6;
}
#home .my-img img{
    width: 100%;
}
#home .icons{
    position: absolute;
    bottom: 1rem;
    z-index: 2;
    right: 5rem;
}
#home .icons a{
    text-decoration: none;
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    line-height: 35px;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: .1s ease-in-out;
    cursor: pointer;
}
#home .icons a i{
    color: #1c1d24;
}
#home .icons a:hover{
    transform: translateY(-10%);
    background-color: var(--main-color);
}
#home .icons a:hover i{
    color: white;
}
#home .scroll{
    position: absolute;
    left: 5rem;
    bottom: 2rem;
    text-transform: uppercase;
}
#home .scroll a{
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    transition: letter-spacing 0.5s ease;
    text-align: left;
}
#home .scroll a:hover{
    letter-spacing: 2px;
    color: var(--main-color);
}

/* About */
#about{
    background: var(--bg-color-1);
    width: 100%;
}
#about .container{
    padding: 100px 0;
}
.about-img{
    width: 25rem;
    border: 10px solid #232323;
    box-shadow: 0 25px 50px --12px rgb(0 0 0/ 25%);
}
.about-img{
    width: 28%;
}
#about .text-wrapper{
    width: 35rem;
    padding-left: 40px;
}
#about .text-wrapper h4{
    font-weight: 500;
}
#about .text-wrapper h5{
    margin-top: 15px;
}
#about .text-wrapper h5 span{
    color: var(--main-color);
}
#about .text-wrapper p{
    margin: 20px 0;
}
